<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/menu.xsd">

    <menu>
        <add id="Kapana_Signup::signup_root"
             title="Signups"
             module="Kapana_Signup"
             sortOrder="999"
             parent="Magento_Customer::customer"
             resource="Magento_Backend::admin"/>
    </menu>
</config>
